*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

body *{
    font-family: 'inter, sans-serif';
    height: 160%;
    color: black;
   
}

body{
    background-color: #585893;
}

header{
    padding-top: 32px;
    text-align: center;
       
}



header img{
    border-radius: 45%;
    width: 200px;
    background-color: #612791;
    padding: 6px;
}

main{
    max-width: 580px;
    width: 70%;
    margin: auto;
    margin-top: 24px;
    display: -moz-popup;
    gap: 24px ;
}

section  figure{
    margin-top: 20px;
    background-color: #612791    ;
    padding: 25px;
    border-radius: 50px;
    text-align: center;
    
}


/* Transition */
section figure:hover {
    transform: scale(1.1);
}

section figure{
    transition: transform 0.4s;
}

section li{
    flex-wrap: wrap;
    

}

header div:hover {
    transform: scale(1.1)
}

header div{
    transition: transform 0.3s;
}

/* Animation */

@keyframes fromTop{
    from{
        opacity: 0;
        transform: translateY(-30px);    
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fromBottom{
    from{
        opacity: 0;
        transform: translateY(30px)
    }
    
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

header div{
    animation: fromTop .7s .1s backwards ;
}

main section{
    animation: fromBottom .7s   backwards;
}

main section:nth-child(1){
    animation-delay: .1;
}

main section:nth-child(2){
    animation-delay: .2s;
}

main section:nth-child(3){
    animation-delay: .3s;
}

main section:nth-child(4){
    animation-delay: .4s ;
}